@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #124563;
  --color-primary-accent: #8ff9ff;
  --color-background-blue: #2baec6;
  --color-background-blue-hover: #2baec6/80;
  --color-background-gray: #f5f5f5;
  /* --color-primary-light: #124563; */
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #124563;
  --color-primary-light: #124563;
  --color-primary-accent: #8ff9ff;
  --color-background-gray: #f5f5f5;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
  /* font-style: "Inter", sans-serif; */
}
